<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>
    <!-- set this tag for responsive and mobile-first development -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/fonts' %>
  </head>

  <body>
    <div class="main">
    <!-- navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!-- change container-fluid class to container so the navbar items have padding -->
        <div class="container">
          <!-- brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Message Center</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><%= link_to "Home", root_path %> <span class="sr-only">(current)</span></li>
              <li><%= link_to "Send E-mail", sign_in_path %> </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <% if signed_in? %>
                <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Login", sign_in_path %></li>
              <% end %>
            </ul>
          </div><!-- .navbar-collapse -->
        </div><!-- .container-fluid -->
      </nav>
      <!-- background image for all pages -->
      <%= image_tag('hb_new.jpg', draggable: "true", id: "drag1", class: "background img-responsive") %>

      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
  <script>
    $(function () {
      // save the full page URL
      var loc = window.location.href;
      // set classes on labels so they can be targeted with css
      $('div.text-field label').addClass('email-label');
      $('div.password-field label').addClass('password-label');
      // set required tags in markup
      $('#session_email').attr('required', true);
      $('#session_password').attr('required', true);
      $('#user_email').attr('required', true);
      $('#user_password').attr('required', true);
      $(function() {
        if (/sign_in/.test(loc) || /session/.test(loc)) {
          // set placeholders on input fields, sign in page
          document.getElementById("session_email").setAttribute("placeholder", "E-mail Address");
          document.getElementById("session_password").setAttribute("placeholder", "Password");
        }
        if (/sign_up/.test(loc)) {
          // set placeholders on input fields, sign up page
          document.getElementById("user_email").setAttribute("placeholder", "E-mail Address");
          document.getElementById("user_password").setAttribute("placeholder", "Password");
        }
      }); // ends sign-in/sign-up function if's
      var url = window.location;
      $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
      $('ul.nav a').filter(function() {
        return this.href == url;
      }).parent().addClass('active');
      // make the text in the current navbar selection bold
      $('li.active a').css('font-weight','bold');
      // change the message for password reset
      $('.password-reset p').text('Please enter your e-mail address to reset your password.');
      // note, this worked, but wasn't consistent using percentages. left this commented out
      // $('button').on('click', (function(){
      //   if($(this).attr('aria-expanded') === 'false') {
      //     // adjust top margin to accomodate open hamburger menu
      //     $('div#clearance').css('margin-top','40%')
      //   } else {
      //     // set top margin to accomodate closed hamburger menu
      //     $('div#clearance').css('margin-top','15%')
      //   }; // ends if
      // })); // ends click function for hamburger menu button
    }); // ends document.ready function
</script>
</html>
<%# TODO: add backend form validations
          create action mailer stuff. check other app to see how this was done
          add figaro gem for converting info to env variable in prod
          check if user is greeted on sign in. this used to work, not sure if it still does
%>
