<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- flash messges from clearance -->
    <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign Out', sign_out_path, method: :delete %>
    <% else %>
      <!-- commented this line out, since it made the sign in link appear twice -->
      <%#= link_to 'Sign In', sign_in_path %>
    <% end %>

    <hr>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Secret Page", pages_secret_path %></li>
    </ul>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
