<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/fonts' %>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!-- change container-fluid class to container so the navbar items have padding -->
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Message Center</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><%= link_to "Home", root_path %> <span class="sr-only">(current)</span></li>
              <li><%= link_to "Send E-mail", sign_in_path %> </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <% if signed_in? %>
                <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Login", sign_in_path %></li>
              <% end %>
            </ul>
          </div><!-- .navbar-collapse -->
        </div><!-- .container-fluid -->
      </nav>

    <!-- background image for all pages -->
    <%= image_tag('hb_new.jpg', draggable: "true", id: "drag1", class: "background") %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
  <script>
    $(document).ready(function () {
      // save the full page URL
      var loc = window.location.href;
      // set classes on labels so they can be targeted with css
      $('div.text-field label').addClass('email-label');
      $('div.password-field label').addClass('password-label');
      // set required tags in markup
      $('#session_email').attr('required', true);
      $('#session_password').attr('required', true);
      $('#user_email').attr('required', true);
      $('#user_password').attr('required', true);
      $(function() {
        if (/sign_in/.test(loc) || /session/.test(loc)) {
          // set placeholders on input fields, sign in page
          document.getElementById("session_email").setAttribute("placeholder", "E-mail Address");
          document.getElementById("session_password").setAttribute("placeholder", "Password");
        }
        if (/sign_up/.test(loc)) {
          // set placeholders on input fields, sign up page
          document.getElementById("user_email").setAttribute("placeholder", "E-mail Address");
          document.getElementById("user_password").setAttribute("placeholder", "Password");
        }
      });
      var url = window.location;
      $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
      $('ul.nav a').filter(function() {
        return this.href == url;
      }).parent().addClass('active');
    });
</script>
</html>
